<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Информация по доставке</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 20px;
      background-color:aliceblue;
    }

    h1, h2 {
      color: #333;
    }

    p {
      color: #666;
    }
  </style>
</head>
<body>

  <h1>Информация по доставке</h1>

  <h2>Способы доставки</h2>
  <p>Мы предлагаем несколько вариантов доставки для вашего удобства:</p>
  <ul>
    <li><strong>Стандартная доставка:</strong> Обычно занимает от 5 до 7 рабочих дней.</li>
    <li><strong>Экспресс-доставка:</strong> Получите свой заказ в течение 2-3 рабочих дней за дополнительную плату.</li>
  </ul>

  <h2>Стоимость доставки</h2>
  <p>Стоимость доставки рассчитывается автоматически при оформлении заказа в зависимости от выбранного вами способа доставки.</p>
  <h2>Бесплатная доставка</h2>
  <p>При заказе на сумму свыше определенной суммы предоставляется бесплатная стандартная доставка. Уточните детали при оформлении заказа.</p>

  <h2>Возврат и обмен</h2>
  <p>Если у вас возникли проблемы с вашим заказом, свяжитесь с нашей службой поддержки для получения помощи. Мы готовы рассмотреть варианты возврата или обмена товара.</p>

  <p>Благодарим вас за покупку в нашем магазине!</p>

</body>
</html>