<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Политика конфиденциальности</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      line-height: 1.6;
      margin: 20px;
      background-color: aliceblue; /* Цвет бежевого фона */
    }

    h1 {
      color: #333;
    }

    p {
      color: #666;
    }
  </style>
</head>
<body>

  <h1>Политика конфиденциальности</h1>

  <p>Дата вступления в силу: 11.12.2023</p>

  <p>Добро пожаловать на страницу политики конфиденциальности! Мы ценим ваше доверие и стремимся сделать ваше взаимодействие с нашим сайтом максимально безопасным и удобным.</p>

  <h2>Сбор и использование информации</h2>

  <p>Мы собираем определенную информацию, когда вы посещаете наш сайт, в том числе:</p>

  <ul>
    <li>Информация, которую вы предоставляете нам при оформлении заказа, такая как имя, адрес и адрес электронной почты.</li>
    <li>Информация, которую мы автоматически собираем при использовании вами сайта, такая как IP-адрес, данные о браузере и устройстве.</li>
  </ul>

  <p>Мы используем собранную информацию для обработки заказов, предоставления поддержки, улучшения наших услуг и отправки вам информации о продуктах и акциях, если вы согласны получать такие уведомления.</p>


  <h2>Разглашение информации третьим сторонам</h2>

  <p>Мы не продаем, не обмениваем и не передаем личную информацию наших клиентов третьим сторонам, за исключением случаев, предусмотренных законом.</p>

  <h2>Безопасность</h2>

  <p>Мы предпринимаем меры по обеспечению безопасности ваших личных данных. Однако помните, что ни один метод передачи данных через интернет или метод электронного хранения не является 100% безопасным, и мы не можем гарантировать абсолютную безопасность ваших данных.</p>

  <h2>Изменения в политике конфиденциальности</h2>

  <p>Мы оставляем за собой право время от времени вносить изменения в нашу политику конфиденциальности. Все изменения будут опубликованы на этой странице, и в случае существенных изменений мы уведомим вас по электронной почте или другим удобным для вас способом.</p>


</body>
</html>
